<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error Page</title>
	<link rel="stylesheet" type="text/css" href="/CSS/error.css">
	<!-- Tektur Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tektur:wght@600&display=swap" rel="stylesheet">
</head>
<body>
	<div id="heading-error">
		<h1> Something went wrong 😵</h1>
	</div>
</body>
</html>